.App {
  text-align: center;
}

/* Link Styles */
.App-link {
  color: #2da3d8;
  text-decoration: none;
  font-weight: bold;
}

/* SignIn Form Styles */
.form-signin {
  width: 500px;
  height: 400px;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #d1d3e2;
  border-radius: 8px;
  margin-top: 10vh;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"],
.form-signin input[type="password"] {
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid #ced4da;
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

.form-signin input[type="email"]:focus,
.form-signin input[type="password"]:focus {
  border-color: #2da3d8;
  outline: none;
}
.barfr {
  background-color: #012b3f;
  height: 90px;
}
.containerfluid{
  justify-content: center;
}

.navla{
  background-color: #979797;
  height: 50px;
  width: 75%;
  margin-bottom: 10px;
  margin-left: 150px;

  /* navbar-expand-lg bg-dark w-auto p-4 */
  
}
.ulhome {
  list-style-type: none;
}

.homelink{
  font-size: 20px ;
  text-decoration: none;
  color: rgb(0, 36, 68);
}

.reper{

}
.navla {
  background-color: #f8f9fa; 
  padding: 10px; 
}

.textbara {
  
}

.homelink {
  text-decoration: none; 
  color: #000; 
}

.reper {
  text-align: right; 
}

.navla .row > .col {
  margin-bottom: 10px; 
}

.reper .col-sm {
  margin-left: 10px;
}

body{
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}
.emp-profile{
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.profile-img{
  text-align: center;
}
.profile-img img{
  width: 70%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5{
  color: #333;
}